.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: bold;

  min-width: var(--button-min-width);
  padding: 0.5rem 1rem;

  cursor: pointer;
  border: var(--border);
  background: #fff;

  transition: var(--transition-ease-out);

  &:hover,
  &:active {
    color: var(--color-on-hover);
    border: 2px solid var(--default-hover-color);
    background: var(--default-hover-color);
    transition: var(--transition-ease-in);
  }

  &--success {
    &:hover,
    &:active {
      border: 2px solid var(--success-hover-color);
      background: var(--success-hover-color);
    }
  }

  &--danger {
    &:hover,
    &:active {
      border: 2px solid var(--danger-hover-color);
      background: var(--danger-hover-color);
    }
  }

  &--info {
    &:hover,
    &:active {
      border: 2px solid var(--info-hover-color);
      background: var(--info-hover-color);
    }
  }

  &--warning {
    &:hover,
    &:active {
      border: 2px solid var(--warning-hover-color);
      background: var(--warning-hover-color);
    }
  }
}
