.main {
  display: grid;
  grid-template-areas:
    'info .'
    'game patterns'
    'controls .';
  grid-template-columns: auto calc(
      3 * var(--button-min-width) + var(--gap-size)
    );
  gap: var(--gap-size);
  max-width: 90rem;
  margin: 2rem auto 0;
  position: relative;

  @media (max-width: 64rem) {
    grid-template-areas:
      'info'
      'game'
      'controls'
      'patterns';
    grid-template-columns: auto;
    max-width: 40rem;
  }
}

.main__info {
  grid-area: info;
}

.main__game {
  grid-area: game;
}

.main__patterns {
  grid-area: patterns;
}

.main__controls {
  grid-area: controls;
}
