.patterns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: start;

  gap: 1rem 0.5rem;
  padding: 1rem;

  background: #fab1a0;
  border: var(--border);

  max-height: 640px;
  overflow: auto;
}

.pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity var(--transition-ease-out);
  padding-bottom: 1rem;

  &__title {
    text-align: center;
    margin-top: 1rem;
  }

  &__canvas {
    image-rendering: crisp-edges; // for Firefox
    image-rendering: pixelated;
    border: var(--border);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity var(--transition-ease-in);
  }
}
