.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: bold;


  cursor: pointer;
  border: var(--border);
  padding: 0.5rem 1rem;
  background: #fff;

  transition: var(--transition-ease-out);

  &:disabled {
    color: currentColor;
    opacity: 0.75;
  }

  &:hover,
  &:active {
    color: var(--color-on-hover);
    border: 0.125rem solid var(--default-hover-color);
    background: var(--default-hover-color);
    transition: var(--transition-ease-in);
  }

  &--success {
    &:hover,
    &:active {
      border: 0.125rem solid var(--success-hover-color);
      background: var(--success-hover-color);
    }
  }

  &--danger {
    &:hover,
    &:active {
      border: 0.125rem solid var(--danger-hover-color);
      background: var(--danger-hover-color);
    }
  }

  &--info {
    &:hover,
    &:active {
      border: 0.125rem solid var(--info-hover-color);
      background: var(--info-hover-color);
    }
  }

  &--warning {
    &:hover,
    &:active {
      border: 0.125rem solid var(--warning-hover-color);
      background: var(--warning-hover-color);
    }
  }
}
