.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: bold;

  cursor: pointer;
  border: var(--border);
  padding: 0.5rem 1rem;
  background: var(--second-color);

  transition: var(--transition-ease-out);

  &:disabled {
    color: var(--disabled-color);
    background: var(--disabled-background);
    opacity: 0.75;
  }

  &:hover,
  &:active {
    color: var(--hover-color);
    border: var(--border);
    background: var(--hover-background);
    transition: var(--transition-ease-in);
  }
}
