.canvas {
  border: var(--border);
  max-width: 36rem;
  background: var(--second-color);
  transition: opacity var(--transition-ease-out);

  &:hover {
    transition: opacity var(--transition-ease-in);
  }

  @media (max-width: 64rem) {
    max-width: 100%;
  }
}

.grid-canvas,
.preview-canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;

  @media (max-width: 64rem) {
    display: none;
  }
}

.colony-canvas,
.preview-canvas {
  image-rendering: crisp-edges; // for Firefox
  image-rendering: pixelated;
}

.colony-canvas {
  z-index: 1;
}

.grid-canvas {
  z-index: 2;
}

.preview-canvas {
  z-index: 3;
}
