.main {
  display: grid;
  grid-template-areas:
    'info .'
    'game patterns'
    'controls shortcuts';
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: var(--gap-size);

  max-width: 74rem;
  margin: 1rem auto;
  padding: 0 1.25rem;

  position: relative;

  @media (max-width: 64rem) {
    grid-template-areas:
      'info'
      'game'
      'controls'
      'patterns'
      'shortcuts';
    grid-template-columns: auto;
    max-width: 36rem;
  }
}

.main__info {
  grid-area: info;
}

.main__game {
  grid-area: game;
}

.main__patterns {
  grid-area: patterns;
}

.main__controls {
  grid-area: controls;
}

.main__shortcuts {
  grid-area: shortcuts;

  @media (max-width: 64rem) {
    display: none;
  }
}
