.patterns-wrapper {
  background: #ff7675;
  overflow: auto;
  max-width: 36rem;
  max-height: 36rem;
  scrollbar-color: #dfe6e9 transparent;
}

.patterns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));

  @media (max-width: 30rem) {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

.pattern {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background var(--transition-ease-out);
  padding: 1rem;

  .relative-wrapper {
    pointer-events: none;
  }

  &:not(&--active):hover {
    cursor: pointer;
    background: #ffeaa7;
    transition: background var(--transition-ease-in);
  }

  &--active {
    pointer-events: none;
    background: #fdcb6e;
  }

  &__canvas {
    width: 6.5rem;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    pointer-events: none;
  }

  @media (max-width: 64rem) {
    max-width: 100%;
  }

  @media (max-width: 30rem) {
    &__canvas {
      width: 5rem;
    }

    &__name {
      font-size: 1rem;
    }
  }
}
