.patterns-wrapper {
  padding: 1rem;
  background: #ff7675;
  border: var(--border);
  overflow: auto;
  max-width: 36rem;
  max-height: 36rem;
}

.patterns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1.5rem;

  @media (max-width: 30rem) {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

.pattern {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: opacity var(--transition-ease-out);
  padding: 1rem;

  .relative-wrapper {
    pointer-events: none;
  }

  &:not(&--active):hover {
    cursor: pointer;
    background: #d63031;
    transition: opacity var(--transition-ease-in);
  }

  &--active {
    background: #d63031;
  }

  &__canvas {
    width: 6.5rem;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    pointer-events: none;
  }

  &__canvases-wrapper {
    position: relative;
    max-width: 4rem;
    pointer-events: none;
  }

  .grid-canvas {
    opacity: 1;
  }

  @media (max-width: 64rem) {
    max-width: 100%;
  }

  @media (max-width: 30rem) {
    &__canvas {
      width: 5rem;
    }

    &__name {
      font-size: 1rem;
    }
  }
}
