:root {
  --main-color: #2d3436;
  --second-color: #ffffff;
  --border: 2px solid var(--main-color);
  --hover-color: var(--second-color);
  --hover-background: var(--main-color);
  --disabled-color: var(--second-color);
  --disabled-background: var(--main-color);
  --gap-size: 1rem;
  --transition-time: 100ms;
  --transition-ease-out: var(--transition-time) ease-out;
  --transition-ease-in: var(--transition-time) ease-out;
}
