:root {
  --main-color: #2d3436;
  --border: 2px solid var(--main-color);
  --color-on-hover: #ffffff;
  --default-hover-color: #dfe6e9;
  --success-hover-color: #55efc4;
  --danger-hover-color: #d63031;
  --info-hover-color: #0984e3;
  --warning-hover-color: #ffeaa7;
  --gap-size: 2rem;
  --button-min-width: 10rem;
}
