:root {
  --main-color: #2d3436;
  --border: 2px solid var(--main-color);
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: var(--main-color);
}

p {
  margin: 0;
}

.main {
  margin-top: 1rem;
}

.canvas {
  border: var(--border);
}

.generation {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  max-width: 64rem;
}

.button {
  --hover-color: #55efc4;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 10rem;
  padding: 0.5rem 1rem;
  border: var(--border);
  background: none;

  transition: all 175ms ease-out;

  &:hover {
    background: var(--hover-color);
    transition-timing-function: ease-in;
  }

  &:active {
    background: var(--hover-color);
    transition-timing-function: ease-in;
  }
}
