:root {
  --main-color: #2d3436;
  --border: 2px solid var(--main-color);
  --color-on-hover: #ffffff;
  --default-hover-color: #dfe6e9;
  --success-hover-color: #55efc4;
  --danger-hover-color: #d63031;
  --info-hover-color: #0984e3;
  --warning-hover-color: #ffeaa7;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: var(--main-color);
}

p {
  margin: 0;
}

.main {
  margin-top: 1rem;
}

.canvas {
  border: var(--border);
}

.generation {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 10rem;
  padding: 0.5rem 1rem;
  border: var(--border);
  background: none;

  transition: all 175ms ease-out;

  &:hover,
  &:active {
    color: var(--color-on-hover);
    border: 2px solid var(--default-hover-color);
    background: var(--default-hover-color);
    transition-timing-function: ease-in;
  }

  &--success {
    &:hover,
    &:active {
      border: 2px solid var(--success-hover-color);
      background: var(--success-hover-color);
    }
  }

  &--danger {
    &:hover,
    &:active {
      border: 2px solid var(--danger-hover-color);
      background: var(--danger-hover-color);
    }
  }

  &--info {
    &:hover,
    &:active {
      border: 2px solid var(--info-hover-color);
      background: var(--info-hover-color);
    }
  }

  &--warning {
    &:hover,
    &:active {
      border: 2px solid var(--warning-hover-color);
      background: var(--warning-hover-color);
    }
  }
}
